<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <!-- uncomment it to enable index.html page as fallback -->
  <error-page>
    <location>/index.html</location>
  </error-page>

  <filter>
    <filter-name>CORS</filter-name>
    <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
    <!--<filter-class>com.thetransactioncompany.cors.autoreconf.AutoReconfigurableCORSFilter</filter-class>-->
    <init-param>
      <param-name>cors.supportedMethods</param-name>
      <param-value>GET, POST, PUT, DELETE, HEAD, OPTIONS, PATCH</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CORS</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
